{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia - Create Entry
{% endblock %}

{% block body %}

    <h1>Create an Entry</h1>
    {% if entry_bool %}
        <form action="{% url 'create_ent' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Entry Name</label>
                <input type="text" name="title" id="title" class="form-control" placeholder="Specify Entry Title">
            </div>
            <div class="form-group">
                <label for="content">Description</label>
                <textarea name="content" id="content" class="form-control" placeholder="Specify Content Description" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {% else %}
        <p>Sorry, the entry <a href="{% url 'entry' entry_title %}">{{ entry_title }}</a> already exists.  Please specify a different title name.</p>
        <p>Return to <a href="{% url 'create_ent' %}">Create New Page</a>.</p>
    {% endif %}

{% endblock %}