{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia - Search
{% endblock %}

{% block body %}
    <h1>Search Results</h1>

    {% if not search_results %}
        <p>Sorry, no matching results for "{{ query }}".</p>
    {% else %}
        <p>Showing results for "{{ query }}"</p>
        <ul>
            {% for result in search_results %}
                <li><a href="{% url 'entry' result %}">{{ result }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}